body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-section h1,
.hero-section h3,
.hero-section p {
    z-index: 2;
}

.social-icons a {
    font-size: 22px;
    color: #fff;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #0d6efd;
}
.about-img {
    max-width: 250px;
}

.about-section h2 {
    position: relative;
}

.counter {
    font-size: 36px;
    font-weight: 700;
    color: #0d6efd;
}
